@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.header {
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 0.5fr;
  background-image: linear-gradient(
    to right,
    rgb(224, 46, 46),
    rgb(224, 46, 46),
    rgb(255, 233, 136)
  );
  padding-top: 10px;
  padding-bottom: 20px;
}

@media (max-width: 1350px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rose {
    font-size: 2rem;
    padding-top: 42px;
    text-align: center;
    margin-left: -50px;
    height: 15vh;
    line-height: 5vh;
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 900;
    text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032,
      15px 15px 0px #46b59b, 20px 20px 0px #017e7f, 25px 25px 0px #052939,
      30px 30px 0px #c11a2b, 35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b,
      45px 45px 0px #c11a2b;
  }
}

.header:hover {
  /* padding-top: 2em; */
  /* padding-bottom: 2em; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.678),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.534),
    0 100px 80px rgba(0, 0, 0, 0.12);

  /* min-height: 100px;
  width: 98vw;
  margin: 10px auto;
  border-radius: 1px; */
}

.title {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  text-shadow: 7px 7px rgb(255, 180, 243);
}

.slogan {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  color: #e1f5d0;
}

.account {
  padding-left: 50px;
}

.rose {
  font-size: 4em;
  padding-top: 42px;
  text-align: center;
  margin-left: -50px;
  height: 15vh;
  line-height: 5vh;
  color: #fcedd8;
  /* background: #d52e3f; */
  font-family: "Niconne", cursive;
  font-weight: 900;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b,
    35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b, 45px 45px 0px #c11a2b;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.nameplacement {
  display: flex;
  flex-direction: column;
  align-self: center;
}

input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;

  background-color: transparent;
}

.submit {
  background-color: white;

  position: relative;

  display: block;
  width: 80px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
}

#cover {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 550px;
  padding: 35px;
  margin: 0 auto 0 auto;
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

form {
  height: 96px;
  margin-top: 50px;
}

input {
  border: 2px solid rgba(245, 181, 97, 0.623);
}

input[type="text"] {
  height: 50px;
  font-size: 40px;
  line-height: 1;
  width: 525px;
}

input[type="text"]::placeholder {
  color: #ffffff;
}

span {
  border-bottom: 1px solid #38865b;

  padding-bottom: 0.25em;
  text-decoration: none;
}

.userNameLogout {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.makethataccount {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

/* #s-cover {
  width: 1px;
  padding-left: 35px;
}

#s-circle {
  position: relative;
  top: 0px;
  left: -207px;
  width: 63px;
  height: 63px;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.submit span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.submit span:before,
.submit span:after {
  content: "";
  position: absolute;
  bottom: -192px;
  right: 120px;
  width: 40px;
  height: 17px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  left: -100px;
  width: 25px;
  margin-top: 0px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
} */
