.dotd {
  background: url(https://images.unsplash.com/photo-1580828343064-fde4fc206bc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80)
    no-repeat center;

  /* background: radial-gradient(
    closest-side,
    rgb(255, 255, 255) 0%,
    rgb(255, 241, 255) 30%,
    rgb(255, 154, 60) 100%
  ); */

  width: auto;
  padding: 20px;

  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.dotd:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.678),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.534),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
